*{
    margin: 0px;
    padding: 0px;
}

section{
    background-color: blue;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    display: none;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1500px){
    div{
        display: flex;
    }
}