*{
    color: whitesmoke;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
}

#pai{
    width: 100vw;
    height: 100vh; 
    background-color: grey;
    padding: 5px;
}
#pai > *{
    border: 1px dashed black;
}

#filho1> *{
    border:1px dashed black;
}

#filho2> *{
    border:1px dashed black;
}

#filho1{
    height: 80%;
    display: flex;
    justify-content: space-between;   
    border: none;
}

#filho2{
    width: 100%;
    margin-left:3px;
    margin-right:3px;
    border: none;
}

#filho3{
    margin-top: 3px;
}


#neto{  
    height: 79%;
    margin-bottom: 3px;
    margin-top: 3px;
}

footer{
    height: 10%;
}

header{
    height: 9%;  
    margin-bottom: 3px;
}

.navAside{
    border-radius: 15px;
    width: 33%;
    
}

#rodape{ 
    height: 20%; 
}
