body{
    margin: 0;
    padding: 0;
}

#pai{
    /* width: 50%;*/
    height: 100vh; 
    background-color: grey;
    text-align: center;
}

#filho1{
    border: 1px solid black;
    height: 45vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 10px;
    padding: 5px;
}
#headerfilho{
    height: 33%;
    margin: 0px;
}
article{
    border: 1px dashed black;  
    border-radius: 15px;
    height: 33%;
}
 #filho2 footer{
    height: 33%;
    border-radius: 15px;
}

header{
    border: 1px dashed black; 
    border-radius: 15px;
    height: 20vh; 
    margin: 10px;
}

footer{
    border: 1px dashed black;
}

.navAside{
    border: 1px dashed black;
    border-radius: 15px;
    width: 33%;
    margin: 5px;
}

#rodape{
    border: 1px dashed black; 
    border-radius: 15px;
    height: 20vh; 
    margin: 10px;
}

#filho2{
    border: 1px solid black;
    padding: 5px;
    width: 100%;
}